<div class="col-lg-4 col-sm-6 text-center">
    <img class="img-circle img-responsive img-center" src="{{userDesigner.picture.url}}" alt="">
    <h3>{{userDesigner.name.firstName}} {{userDesigner.name.lastName}}</h3>
    <small>{{userDesigner.emailPrimary.address}}</small>
    <p>{{userDesigner.bio.short}}</p>
</div>
{{yield}}
